<%# locals: (provider_merchant:) %>

<tr class="border-b border-subdued last:border-0 hover:bg-surface-hover">
  <td class="py-3 px-4 text-sm text-primary">
    <div class="flex w-full items-center gap-2.5">
      <% if provider_merchant.logo_url %>
        <div data-controller="adaptive-logo" class="w-8 h-8 rounded-[22%] overflow-hidden flex justify-center items-center border border-gray-200 p-0.5" data-adaptive-logo-target="container">
          <%= image_tag provider_merchant.logo_url, class: "w-full h-full object-contain rounded-[18%]", data: { adaptive_logo_target: "image" } %>
        </div>
      <% else %>
        <div class="w-8 h-8 rounded-[22%] flex items-center justify-center border border-gray-200 bg-container-inset text-secondary text-sm font-medium">
          <%= provider_merchant.name&.first&.upcase || "?" %>
        </div>
      <% end %>

      <p class="font-medium truncate">
        <%= provider_merchant.name %>
      </p>
    </div>
  </td>
  <td class="py-3 px-4 text-sm text-secondary align-middle">
    <%= provider_merchant.source&.titleize %>
  </td>
  <td class="py-3 px-4 text-sm text-right align-middle">
    <%= render DS::Menu.new do |menu| %>
      <% menu.with_item(variant: "link", text: t(".edit"), href: edit_family_merchant_path(provider_merchant), icon: "pencil", data: { turbo_frame: "modal" }) %>
      <% menu.with_item(
        variant: "button",
        text: t(".remove"),
        href: family_merchant_path(provider_merchant),
        icon: "trash-2",
        method: :delete,
        confirm: CustomConfirm.new(
          destructive: true,
          title: t(".remove_confirm_title"),
          body: t(".remove_confirm_body", name: provider_merchant.name),
          btn_text: t(".remove")
        )) %>
    <% end %>
  </td>
</tr>
